<%- include('../helpers/html-header') -%> 
<div class="container">
  <%- include('../helpers/site-header') -%>
  <div class="content-header">
    <a href="/sessions">
      <img src="/assets/icons/arrow-left.svg" width="24" height="24" />
    </a>
    <h3><%= session.name %></h3>
    <a href=<%=`/session-add-participant?sessionid=${session._id}&userid=${user._id}`%>>
      <button class="btn btn-primary">Join</button>
    </a>
  </div>

    <div class="block-title">Participants</div>
    <ul class="list-group">
        <% session.participants.forEach((participant, index) => { %>
          <li class="list-group-item">
              <span><%= participant.name %></span>
              <a href=<%=`/session-remove-participant?sessionid=${session._id}&userid=${user._id}`%>>
                  <img src="/assets/icons/x.svg" width="24" height="24" />
              </a>
            </li>
        <% }); %>
    </ul>

    <div class="add-song-container">
      <span>Song list</span>
      <div style="display: flex">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Available Songs
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% availableSongs.forEach((song, index) => { %>
                <a class="dropdown-item" href=<%=`/session-add-song?sessionid=${session._id}&songid=${song._id}`%>>
                  <%=`${song.artist} - ${song.title}`%>
                </a>
              <% }); %>
            </div>
          </div>
      </div>
    </div>
    <ul class="list-group">
        <% session.songs.forEach((song, index) => { %>
          <li class="list-group-item">
              <span><%= `${song.artist} - ${song.title}` %></span>
              <a href=<%=`/session-remove-song?sessionid=${session._id}&songid=${song._id}`%>>
                  <img src="/assets/icons/x.svg" width="24" height="24" />
              </a>
          </li>
        <% }); %>
    </ul>
</div>
<%- include('../helpers/html-footer') -%>
